.info {
  display: inline-flex;
  position: absolute;
  right: 0;
  background: #f10101;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: .85rem;
}
